# Unity
*.cs diff=csharp text
*.cginc text
*.shader text

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.psd binary
*.ai binary
*.tif binary

# Audio
*.mp3 binary
*.wav binary
*.ogg binary

# Video
*.mp4 binary
*.mov binary

# 3D models
*.FBX binary
*.fbx binary
*.blend binary
*.obj binary

# Compressed Archive
*.7z binary
*.gz binary
*.tar binary
*.zip binary
*.rar binary

# Compiled Dynamic Library
*.so binary
*.dylib binary
*.dll binary

# Executable/Installer
*.exe binary
*.msi binary

# Documents
*.pdf binary

# ETC
*.a binary
*.exr binary
*.tga binary
*.cubemap binary
*.unitypackage binary
